Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [2]:
name = 'Yash Jage'
marklist = [90,89,95,99, 'physics', 'chemistry', 'maths', 'computer', True]
percentage = 92.45
mytuple = (1, 'yash', 92.45)

In [12]:
type (name)

str

In [13]:
type (mytuple)

tuple

In [14]:
type (marklist)

list

In [15]:
type (percentage)

float

In [16]:
print(name, marklist, percentage, mytuple)

Yash Jage [90, 89, 95, 99, 'physics', 'chemistry', 'maths', 'computer', True] 92.45 (1, 'yash', 92.45)

Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.
What will be the data type of the above given variable.

In [18]:
var1 = ' '

In [22]:
type(var1)

str

In [24]:
 var2 = '[ DS , ML , Python]'

In [25]:
type(var2)

str

In [27]:
var3 = [ 'DS' , 'ML' , 'Python' ]

In [28]:
type(var3)

list

In [29]:
var4 = 1.

In [30]:
type(var4)

float

Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

(i) The / operator is the division operator in most programming languages. It is used to perform division between two operands and returns the quotient of the division.

Example: Let's say we have two variables, a and b, with values 10 and 3, respectively. If we use the / operator like this: a / b, it will perform the division operation and return the result. In this example, 10 / 3 returns 3.3333333333333335.

In [31]:
#(i) Example of  /

a = 10
b = 3
result = a / b
print(result)

3.3333333333333335

(ii) The % operator is the modulo (or remainder) operator. It calculates the remainder of the division between two operands.

Example: Let's say we have two variables, a and b, with values 10 and 3, respectively. If we use the % operator like this: a % b, it will perform the modulo operation and return the remainder.In this example, 10 % 3 returns 1 because the remainder of dividing 10 by 3 is 1.

In [32]:
#(ii) Example of  %

a = 10
b = 3
result = a % b
print(result)

1

(iii) The // operator is the floor division operator. It performs division between two operands and returns the largest integer less than or equal to the quotient.

Example: Let's say we have two variables, a and b, with values 10 and 3, respectively. If we use the // operator like this: a // b, it will perform the floor division operation and return the result. In this example, 10 // 3 returns 3 because the largest integer less than or equal to the quotient of 10 divided by 3 is 3.

In [33]:
#(iii) Example of  // 

a = 10
b = 3
result = a // b
print(result)

3

(iv) The ** operator is the exponentiation operator. It raises the first operand to the power of the second operand.

Example: Let's say we have two variables, a and b, with values 2 and 3, respectively. If we use the ** operator like this: a ** b, it will perform the exponentiation operation and return the result. In this example, 2 ** 3 returns 8 because 2 raised to the power of 3 is 8.

In [34]:
#(iv) Example of  **

a = 2
b = 3
result = a ** b
print(result)

8

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the element and its data type.

In [35]:
list=[10,20,20.22,'yash',True, 3+5j, 88, 'pwskills',90,100]

In [79]:
for i in list :
    print(type(i))
    if i==0 :
        continue
    print(i)

<class 'int'>
10
<class 'int'>
20
<class 'float'>
20.22
<class 'str'>
yash
<class 'bool'>
True
<class 'complex'>
(3+5j)
<class 'int'>
88
<class 'str'>
pwskills
<class 'int'>
90
<class 'int'>
100

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many times it can be divisible.

In [88]:
A = 8
B = 2   
count = 0 

while A % B == 0:
    A = A / B
    count += 1

print("Number of times A is divisible by B:", count)

Number of times A is divisible by B: 3

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is divisible by 3 or not.

In [101]:
numbers = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]

In [102]:
for i in numbers:
    if i % 3 == 0:
        print(i, "is divisible by 3")
    else:
        print(i, "is not divisible by 3")

1 is not divisible by 3
2 is not divisible by 3
3 is divisible by 3
4 is not divisible by 3
5 is not divisible by 3
6 is divisible by 3
7 is not divisible by 3
8 is not divisible by 3
9 is divisible by 3
10 is not divisible by 3
11 is not divisible by 3
12 is divisible by 3
13 is not divisible by 3
14 is not divisible by 3
15 is divisible by 3
16 is not divisible by 3
17 is not divisible by 3
18 is divisible by 3
19 is not divisible by 3
20 is not divisible by 3
21 is divisible by 3
22 is not divisible by 3
23 is not divisible by 3
24 is divisible by 3
25 is not divisible by 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing this property.

ANS- Mutable and immutable are two fundamental concepts that describe the ability to modify an object or not. The main difference between them is that mutable objects can be changed after they are created, while immutable objects cannot be modified once they are created.

List is Mutable type of data  -

In [103]:
l = [1,2,3,4,5,'yash', 2+6j, True, 33.33]

In [104]:
l [5]

'yash'

In [105]:
l [5]= 'yashjage'

In [106]:
l

[1, 2, 3, 4, 5, 'yashjage', (2+6j), True, 33.33]

String is Immutable type of data, it gives error if we try to mutate.

In [107]:
s = 'yash'

In [108]:
s[0]

'y'

In [109]:
s [0] = 'Y'

TypeError: 'str' object does not support item assignment